@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: apple;
    font-weight: 100;
}

#nav{
    height: 50px;
    width: 100%;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    position: fixed;
}

#nav a{
    color: white;
    text-decoration: none;
}

#center{
    height: 80%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 110px;
    font-size: 25px;
    background-image: url(./hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-size: cover;
    background-position: center;
}

#btn1{
    background-color: royalblue;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

#btn2{
    background-color: transparent;
    color: royalblue;
    padding: 15px 30px;
    border: 2px solid royalblue;
    border-radius: 50px;
    cursor: pointer;
}

#btn2:hover{
    background-color: royalblue;
    color: white;
    transform: scale(1.05);
}

#btn{
    padding: 20px;
}

#box{
    height: 80%;
    margin-top: 10px;
    padding: 50px;
    background-color: #F5F5F7;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    background-image: url(./hero_iphone_air__0gxyavihpiqu_mediumtall.jpg);
    background-size: cover;
    background-position: center;
}

p{
    padding: 10px;
    padding-bottom: 20px;
}

#box1{
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(./hero_ipad_air_avail__c34ycq52exg2_mediumtall.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 50px;
}

#box1 p{
    padding: 10px;
    padding-bottom: 20px;
}

#boxMain{
    height: 72%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#airpods{
    height: 600px;
    width: 750px;
    background-color: white;
    background-image: url(./promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 50px;
}

#watch{
    height: 600px;
    width: 750px;
    background-color: white;
    background-image: url(./promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 50px;
}

#container{
    height: 72%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#ipadPro{
    height: 600px;
    width: 750px;
    color: white;
    background-color: white;
    background-image: url(./promo_ipad_pro__c529dk533k4m_medium.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding: 50px;
}

#macbook{
    height: 600px;
    width: 750px;
    color: white;
    background-color: white;
    background-image: url(./promo_macbook_pro_m5__gnwzdhijhm6a_medium.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding: 50px;
}
